[submodule "firmware"]
	path = firmware
	url = https://github.com/Perseus333/zmk-keyboards-daedalus.git
[submodule "hardware/footprints/ceoloide"]
	path = hardware/footprints/ceoloide/ceoloide
	url = https://github.com/ceoloide/ergogen-footprints
